* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 100vh;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}





.div-logo img {
    width: 30vw;
}


.div-name {
    margin: 4vw;

}


.div-name p{
    color: rgb(255, 255, 255);
    font-size: 24px;
}







.a-div-social-media{
    margin: 3vw;
}
.div-social-media {
    width: 70vw;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 500px;
    
    padding: 2vw;
    background-color: #00629B;
    
}
.div-social-media p{
    color: rgb(255, 255, 255);

}